{% extends "base.html" %}
{% block title %}Posts tagged "{{ tag.name }}"{% endblock %}

{% block content %}
<h1>Posts tagged "{{ tag.name }}"</h1>

{% if posts %}
  <ul class="post-list">
    {% for post in posts %}
      <li>
        <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
        <p class="meta">by {{ post.author.username }} • {{ post.published_date|date:"F j, Y" }}</p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No posts found with this tag.</p>
{% endif %}
{% endblock %}
